@import 'tailwindcss';

body {
	user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
	min-height: 100vh;
	font-family: Inter Display;
}

:root {
  --bg-color: #ffffff;
  --text-color: #121212;
}

/* Light mode (default) */
html {
  background-color: #121212; /* Ensures background is dark by default */
  color: #a4a4a6;
}

/* Dark mode */
.dark {
  --bg-color: #121212;
  --text-color: #a4a4a6;
}



@theme {

	--color-black: #000000;
	--color-dark-100: #121212;
	--color-dark-200: #161616;
	--color-dark-300: #171717;
	--color-light-100: #f6f6f6;
	--color-white: #ffffff;
	--color-gray-100: #a4a4a6;
	--color-gray-200: #232323;
	--color-gray-300: #333333;

	--font-interDisplay: 'Inter Display', sans-serif;

	--font-thin: 100;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
}


.font-thin {
  font-weight: var(--font-thin);
}

.font-light {
  font-weight: var(--font-light);
}

.font-regular {
  font-weight: var(--font-regular);
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-bold {
  font-weight: var(--font-bold);
}


@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Thin.woff2') format('woff2');
	font-weight: 100; /* Thin */
	font-style: normal;
}
@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Light.woff2') format('woff2');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Regular.woff2') format('woff2');
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Medium.woff2') format('woff2');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-SemiBold.woff2') format('woff2');
	font-weight: 600; /* Semibold */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/fonts/InterDisplay-Bold.woff2') format('woff2');
	font-weight: 700; /* Bold */
	font-style: normal;
}
@font-face {
	font-family: 'Taruno Wide';
	src: url('/fonts/tarunowide-bold.woff2') format('woff2');
	font-weight: 700; /* Bold */
	font-style: normal;
}
